html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid gray; */
}

body {
  font-family: "Monument", "Noto Sans";
  font-weight: 340;
  color: #222;
  font-size: 16px;
  line-height: 1.3rem;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  line-height: normal;
}

a {
  color: #222;
  text-decoration: none;
}

button {
  font-family: "Monument";
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  width: 50px;
}
