@font-face {
  font-family: "Monument";
  src: url(../fonts/PP_Monument_Extended/PPMonumentExtended-Light.otf)
    format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Monument";
  src: url(../fonts/PP_Monument_Extended/PPMonumentExtended-Regular.otf)
    format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Monument";
  src: url(../fonts/PP_Monument_Extended/PPMonumentExtended-Black.otf)
    format("opentype");
  font-weight: 800;
}

@font-face {
  font-family: "Object Sans";
  src: url(../fonts/PP_Object_Sans/PPObjectSans-Regular.otf) format("opentype");
  font-weight: 315;
}

/* Korean */
@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/Noto_Sans_KR/NotoSansKR-Light.otf) format("opentype");
  font-weight: 300;
  unicode-range: U+AC00-D7A3;
}

@font-face {
  font-family: "Noto Sans";
  src: url(../fonts/Noto_Sans_KR/NotoSansKR-Regular.otf) format("opentype");
  font-weight: 400;
  unicode-range: U+AC00-D7A3;
}
