@media (min-width: 1440px) {
  .header_wrapper {
    width: 1440px;
    margin: 0 auto;
  }

  .main_wrapper {
    width: 1440px;
    margin: 0 auto;
  }

  .main_text h2 {
    font-size: 73.94px;
  }

  .main_text p {
    font-size: 95.2px;
  }

  .about_wrapper {
    width: 1440px;
    margin: 0 auto;
  }

  .projects_wrapper {
    width: 1440px;
    margin: 0 auto;
  }

  .numberList {
    font-size: 115.2px”;
  }

  .contact_wrapper {
    width: 1440px;
    margin: 0 auto;
  }

  
}

@media (min-width: 1041px) {
  .mNav {
    display: none;
  }

  .nav_btn {
    display: none;
  }

  .form_container {
    max-width: 580px;
    margin: 0 auto;
  }
}

@media (max-width: 1040px) {
  .nav {
    display: none;
  }

  .mNav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(-100%);
    padding: 0 32px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    z-index: 10;
    position: fixed;
  }

  .mNav.open {
    transform: translateX(0);
  }

  .mNav nav {
    width: 100%;
  }

  .mNav nav ul li {
    text-align: center;
    margin: 40px 0;
  }

  .nav_btn button {
    position: relative;
    z-index: 20;
    width: 40px;
    height: 40px;
  }

  .nav_btn span {
    width: 30px;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 5px;
    transition: 0.3s;
  }

  .nav_btn .nav_btn_1 {
    top: 10px;
  }

  .nav_btn .nav_btn_2 {
    top: 20px;
  }

  .nav_btn .nav_btn_3 {
    top: 30px;
  }

  .nav_btn_active .nav_btn_1 {
    transform: rotate(45deg);
    top: 20px;
    background-color: black !important;
  }

  .nav_btn_active .nav_btn_2 {
    opacity: 0;
    background-color: black !important;
  }

  .nav_btn_active .nav_btn_3 {
    transform: rotate(-45deg);
    top: 20px;
    background-color: black !important;
  }

  .about_text div div {
    display: none;
  }

  .form_container {
    max-width: 580px;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .main_text h2 {
    font-size: 28.6px;
  }

  .main_text p {
    font-size: 31px;
  }

  .main_text span {
    font-size: 18px;
  }

  .numberList {
    /* font-size: 58px; */
  }
}
