.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  transition: 1s;
}

.loader.remove {
  opacity: 0;
  transform: translateY(-200%);
}

.load-3 {
  margin: 0 auto;
  text-align: center;
}

.load-3 p {
  margin-bottom: 20px;
}

.line {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  background-color: #333;
}

.load-3 .line:nth-last-child(1) {
  animation: loadingC 0.6s 0.1s linear infinite;
}

.load-3 .line:nth-last-child(2) {
  animation: loadingC 0.6s 0.2s linear infinite;
}

.load-3 .line:nth-last-child(3) {
  animation: loadingC 0.6s 0.3s linear infinite;
}

@keyframes loadingC {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  transition: 0.3s;
}

header.hide {
  transform: translateY(-200%);
}

.header_wrapper {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

header.active .logo_box a {
  color: white;
}

header.active .nav_btn span {
  background-color: white;
}

header.active .nav li a {
  color: white;
}

header.active .nav li a::after {
  content: "";
  background-color: white;
}

nav li {
  text-transform: uppercase;
}

nav li a {
  display: inline-block;
  position: relative;
}

nav li.active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: 1px;
}

.nav li {
  display: inline;
}

.nav li:not(:last-child)::after {
  content: "";
  margin: 0 10px;
}

main {
  width: 100%;
  height: 100vh;
  position: relative;
  padding-top: 80px;
}

.main_wrapper {
  padding: 0 32px;
}

.main_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.main_text > * {
  animation-name: reveal;
  animation-timing-function: ease;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  text-transform: uppercase;
}

.main_text h2 {
  font-size: calc(6vw - 10px);
  line-height: normal;
  font-weight: 400;
  opacity: 0;
  animation-delay: 3.3s;
}

.main_text p {
  font-size: calc(8vw - 20px);
  line-height: normal;
  font-weight: 400;
  opacity: 0;
  animation-delay: 3.5s;
}

.main_text .name {
  font-weight: 800;
}

.main_text span {
  font-size: 18px;
  opacity: 0;
  animation-delay: 3.8s;
}

@keyframes reveal {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
}

.scroll_btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

.scroll_btn button {
  width: 30px;
  height: 60px;
  border: 1px solid black;
  border-radius: 20px;
  position: relative;
  outline: none;
}

.scroll_btn button::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 8px;
  height: 8px;
  border: 1px solid black;
  border-radius: 100%;
  animation: upDown 3s ease infinite;
}

@keyframes upDown {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(-50%, 30px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.about {
  background-color: #222;
  color: white;
}

.about_wrapper {
  padding: 80px 32px;
}

.about_text {
  padding-bottom: 60px;
}

.about_text h2 {
  margin-bottom: 40px;
}

.about_text > div {
  display: flex;
  justify-content: space-between;
}

.about_text > div > div {
  width: 300px;
  height: 300px;
}

.about_text div div img {
  width: 180px;
  margin: 0 auto;
  display: block;
}

.skills h3 {
}

.projects {
  /* height: 100vh; */
  background-color: #222;
  color: white;

  overflow-y: hidden;
}

.projects_wrapper {
  padding: 80px 32px;
}

.projects h2 {
  margin-bottom: 60px;
}

.content_item {
  opacity: 0;
  transition: 0.8s ease-in-out;
  transform: translateY(200px);
}

.content_item.show {
  opacity: 1;
  transform: translateY(0);
}

.projects > div section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.projects > div section:not(:last-child) {
  margin-bottom: 80px;
}

.numberList {
  -webkit-text-stroke: 1px white;
  color: transparent;
  font-size: 8vw;
  line-height: 8vw;
  margin-right: 20px;
  position: sticky;
  top: 0;
  left: 0;
}

.project_container {
  width: 100%;
  max-width: 600px;
  min-height: 300px;
}

.project_container img {
  width: 100%;
  max-width: 600px;
  display: block;
}

.description_container {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 0.05rem solid #c7c7c7;
}

.description_container h5 {
  margin-bottom: 20px;
}

.description_container p {
  font-family: "Object Sans";
}

.contact_wrapper {
  padding: 80px 32px;
}

.contact_wrapper h2 {
  margin-bottom: 20px;
}

.contact_wrapper p {
  font-family: "Object Sans";
}

.form_container {
  padding-top: 60px;
}

.form_container div:not(:last-child) {
  padding-bottom: 30px;
}

.form_container input {
  width: 100%;
  border: 1px solid #848484;
  padding: 16px 20px;
  border-radius: 5px;
}

.form_container input::placeholder {
  color: #888;
}

.form_container input:focus,
.form_container textarea:focus {
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
}

.cMessage textarea {
  width: 100%;
  resize: none;
  padding: 16px 20px;
  border-radius: 5px;
}

.cMessage textarea::placeholder {
  color: #888;
}

.cSendBtn button {
  width: 180px;
  display: block;
  margin: 0 auto;
  background-color: #333;
  padding: 16px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  transition: 0.3s;
}

.cSendBtn button:hover {
  color: #333;
  background-color: #dedede;
}