@font-face {
  font-family: "Monument";
  src: url(/fonts/PP_Monument_Extended/PPMonumentExtended-Light.otf)
    format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "Monument";
  src: url(/fonts/PP_Monument_Extended/PPMonumentExtended-Regular.otf)
    format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Monument";
  src: url(/fonts/PP_Monument_Extended/PPMonumentExtended-Black.otf)
    format("opentype");
  font-weight: 800;
}

// window size

$mobile: 1040px;
$laptop: 1041px;
$desktop: 1200px;

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

$general_padding: 0 32px;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid gray; */
}

body {
  font-family: "Monument";
  font-weight: 200;
  color: #222;
  font-size: 16px;
  line-height: 1.3rem;
}

a {
  color: #222;
  text-decoration: none;
}

button {
  font-family: "Monument";
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

// start

.header_wrapper {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $general_padding;

  // @include desktop {
  //   width: 1200px;
  //   margin: 0 auto;
  // }
}

nav {
  @include mobile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.9);
    transform: translateX(-100%);
    padding: $general_padding;
    display: flex;
    align-items: center;
    transition: 0.3s;
    z-index: 10;
  }

  @include laptop {
    position: relative;
  }
}

.nav_open {
  transform: translateX(0);
}

.menu {
  @include mobile {
    width: 100%;
  }

  @include laptop {
    display: flex;
  }

  > li {
    text-transform: uppercase;
    @include mobile {
      margin: 40px 0;
      text-align: center;
    }
    @include laptop {
      // margin-left: 20px;

      &:not(:last-child)::after {
        content: "";
        margin-right: 20px;
      }
    }
  }
}

.blog {
  position: relative;
  margin-right: 10px;

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    right: -15px;
    top: 0;
    background: url("/images/arrow_down.png") no-repeat;
    background-position: center center;
    background-size: 10px 10px;
    transform: rotate(90deg);
    transition: 0.3s;
  }
}

.blog_active {
  &::after {
    content: "";
    transform: rotate(-90deg);
  }
}

.submenu {
  width: 100%;
  height: 0;
  overflow-y: hidden;
  transition: 0.3s;

  @include mobile {
    li {
      margin: 20px 0;
    }
  }

  @include laptop {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    height: 0;
    overflow-y: hidden;
    transition: 0.3s;
    z-index: 10;

    li {
      padding: 20px 32px;
    }
  }
}

.submenu_open {
  width: 100%;
  height: 100px;

  @include laptop {
    border: 1px solid black;
    height: 120px;
  }
}

//

.nav_btn {
  button {
    position: relative;
    z-index: 20;
    width: 40px;
    height: 40px;
  }

  span {
    width: 30px;
    height: 1px;
    background-color: black;
    position: absolute;
    left: 5px;
    transition: 0.3s;
  }

  .nav_btn_1 {
    top: 10px;
  }

  .nav_btn_2 {
    top: 20px;
  }

  .nav_btn_3 {
    top: 30px;
  }

  @include laptop {
    display: none;
  }
}

.nav_btn_active {
  .nav_btn_1 {
    transform: rotate(45deg);
    top: 20px;
  }

  .nav_btn_2 {
    opacity: 0;
  }

  .nav_btn_3 {
    transform: rotate(-45deg);
    top: 20px;
  }
}

main {
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
}

.main_wrapper {
  padding: $general_padding;

  // @include desktop {
  //   width: 1200px;
  //   margin: 0 auto;
  // }
}

.main_text {
  //border: 1px solid gray;
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  transform: translateY(-50%);

  h2 {
    font-size: calc(8vw - 30px);
    line-height: normal;
    font-weight: 400;
    animation: reveal 1s ease 0.3s forwards alternate;
    opacity: 0;
  }

  p {
    font-size: calc(8vw - 20px);
    line-height: normal;
    animation: reveal 1s ease 0.5s forwards alternate;
    opacity: 0;
    font-weight: 400;
  }

  .name {
    font-weight: 800;
  }

  span {
    font-size: 18px;
    animation: reveal 1s ease 0.9s forwards alternate;
    opacity: 0;
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.scroll_btn {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);

  button {
    width: 30px;
    height: 60px;
    border: 1px solid black;
    border-radius: 20px;
    position: relative;
    outline: none;

    &::before {
      content: "";
      position: absolute;
      top: 10px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 8px;
      height: 8px;
      border: 1px solid black;
      border-radius: 100%;
      animation: upDown 3s ease infinite;
    }
  }
}

@keyframes upDown {
  0% {
    transform: translate(-50%, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(-50%, 30px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
